<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stltdd">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.STLTDD">
        <activity android:name=".DSNotiActivity"></activity>
        <activity android:name=".DSMonHocADActivity" />
        <activity android:name=".DSNotiADActivity" />
        <activity android:name=".DSPhuHuynhActivity" />
        <activity android:name=".DSSinhVienActivity" />
        <activity android:name=".HocPhiActivity" />
        <activity android:name=".LichHocActivity" />
        <activity android:name=".DiemMonHocActivity" />
        <activity
            android:name=".DSMonHocActivity"
            android:parentActivityName=".HomeSVActivity" />
        <activity android:name=".HomeADActivity" />
        <activity android:name=".HomePHActivity" />
        <activity android:name=".HomeSVActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>